@font-face {
   font-family: metropolis;
   src: url('../font/Metropolis-Regular.ttf');
}
* {
   font-family: metropolis, 'sans-serif';
   font-size: 16px;
   margin:0;
   padding:0;
}
div.header {
   width: 100%;
   height: 100px;
   box-sizing: border-box;
   box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);;}
div.header .container{
   display: flex;
   align-items: center;
   width: 80%;
   height: 100px;
   margin:0 auto;
}
div.header .container .logo {
   width: 120px;
   height: 50px;
   line-height: 50px;
}
/* div.header .container .logo img,div.header .container .logo p {
   float:left
}  */
.logo {
   display: flex;
   align-items: center;
}
.logo p {
   font-size: 24px;
   font-weight: 700;
   color: #DB3022;
   margin-left: 10px;
   position: relative;
   top: 5px;
}
.search {
   width: 50%;
   height: 40px;
   margin-left: 70px;
   margin-right: 50px;
   box-sizing: border-box;
   display: flex;
   align-items: center;

}
.search form {
   width: 80%;
}
.search form input {
   width: 100%;
   min-width:200px;
   height: 40px;
   float: left;
   border: 1px solid #9B9B9B;
   box-sizing: border-box;
   border-radius: 23px;
   padding-left: 20px;
   padding-top: 6px;
   padding-bottom: 6px;
}
.search form button {
   display: none;
}
.search > img {
   position: relative;
   left : -30px;
}
.search .filter {
   display: inline-block;
   min-width: 40px;
   height: 40px;
   border: 1px solid #9B9B9B;;
   border-radius: 12px;
   position: relative;
   left: -10px;
}

.search .filter img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.container .menu {
   right: 0;
   width: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: auto;
}
.container .menu > img:hover {
   filter: invert(18%) sepia(100%) saturate(3252%) hue-rotate(355deg) brightness(94%) contrast(83%);
}
.container .menu .profile img{
   width: 32px;
   height: 32px;
   border-radius: 16px;
}
.main-container{
   width: 80%;
   margin: 0 auto;
}
p {
   margin-bottom :10px;
}
p.headline {
   font-weight: 700;
   font-size: 34px;
   margin-bottom: 30px;
   margin-top:50px;
}
.wrapper {
   display: flex;
   justify-content: space-between;
}
.shipping{
   flex:2;
}
.shipping > p {
   font-weight: 600;
}
.summary{
   flex: 1;
}
.address{
   box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
   border-radius: 4px;
   padding: 30px;
   height: 190px;
   margin-right: 20px;
   position: relative;
   box-sizing: border-box;
}
p.name{
   font-weight: 600;
   font-size: 16px;
   line-height: 16px;
}
p.add{
   font-size: 14px;
   line-height: 24px;
   margin: 5px auto;
}
.address button {
   border: 1px solid #9B9B9B;
   border-radius: 24px;
   width: 210px;
   height: 36px;
   position: absolute;
   bottom:30px;
   color: #9B9B9B;
   background-color: white;
   border: 1px solid #9B9B9B;
}
div.products {
   height: 126px;
   position: relative;   
   margin-right: 20px;
   margin-top: 20px;
   box-sizing: border-box;
   padding:30px;
   box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
}
img.products {
   width: 70px;
   height: 70px;
   float: left;
   margin-right: 10px;
}
p.title{
   font-weight: 600;
   font-size: 16px;
   margin-top:15px
}
p.brand{
   font-weight: 500;
   font-size: 12px;
}
p.price {
   font-weight: 600;
   font-size: 16px;
   position: absolute;
   right: 30px;
   top:50%
}
.summary {
   position: relative;
   height: 250px;
   box-sizing: border-box;
   box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
   border-radius: 4px;
   margin-left: 20px;
   padding: 24px
}
.p-30{
   margin : 0 0 30px;
   padding :0;
}
.m-30 {
   margin-top:20px;
}
.detail {
   width: 100%;
}
.detail .key {
   float: left;
}
.detail .value{
   font-weight: 600;
   font-size: 18px;
   float: right;
}
.detail::after {
   content: "";
   display: block;
   clear: right;
}
.summary button {
   width: calc(100% - (2*24px));
   height: 36px;
   background: #DB3022;
   border-radius: 25px;
   position: absolute;
   bottom:24px;
   border : none;
   color: white;
   font-size: 14px;
}
.black {
   color : black;
}
.red {
   color: #DB3022
}
@media screen and (max-width: 800px) {
   .main .container .wrapper {
      flex-direction: column;
   }
   .wrapper .menu {
      margin: 20px 0;
      width: 100%;
   }
   div.main .container .wrapper .items{
      width: 100%;
   }
}